@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "MiSans";
  src: url("./assets/fonts/MiSans-Normal.woff2") format("woff2");
}


* {
  font-family:  -apple-system, 'MiSans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-region-drag {
  -webkit-app-region: drag;
}

.app-region-no-drag {
  -webkit-app-region: no-drag;
}